---
# TDH Worker

- name: TDH Provisioning Step 1
  shell: '{{ tdh_install_path }}/sbin/03-tdh-provision.sh'

- name: TDH Provisioning Step 2
  shell: '{{ tdh_install_path }}/sbin/05-spark-provision.sh'

- name: Provision Kafka Broker Id
  shell: '{{ tdh_install_path }}/sbin/07-kafka-provision.sh'
  tags: [ tdh-config ]

- name: Create HDFS DataNode path
  become: true
  file:
    path: '{{ tdh_datanode_dir }}'
    owner: '{{ tdh_user }}'
    group: '{{ tdh_user }}'
    mode: 0750
    state: directory

- name: Create YARN NodeManager path
  become: true
  file:
    path: '{{ tdh_nodemanager_dir }}'
    owner: '{{ tdh_user }}'
    group: '{{ tdh_user }}'
    mode: 0750
    state: directory
