---
tdh_install_path: '/opt/TDH'
tdh_tmp_path: '/tmp/TDH/'
tdh_dist_path: '~/tmp/dist/'
tdh_drop_path: '{{ tdh_tmp_path }}'

tdh_tarball_file: 'TDH.tar.gz'
tdh_dropfile: '{{ tdh_tmp_path }}/{{ tdh_tarball_file }}'

tdh_config_tarball_file: 'tdh-conf.tar.gz'
tdh_config_dropfile: '{{ tdh_tmp_path }}/{{ tdh_config_tarball_file }}'
tdh_config_path: '{{ tdh_tmp_path }}/tdh-conf'

tdh_mgr_tarball_file: 'tdh-hadoop.tar.gz'
tdh_mgr_dropfile: '{{ tdh_tmp_path }}/{{ tdh_mgr_tarball_file }}'
tdh_mgr_path: '{{ tdh_tmp_path }}/tdh-hadoop'

tdh_python3_tarball_file: 'tdh-anaconda3.tar.gz'
tdh_python3_dropfile: '{{ tdh_tmp_path }}/{{ tdh_python3_tarball_file }}'
tdh_python3_install_path: '/opt/python'
tdh_python3_path: '{{ tdh_python3_install_path }}/anaconda3'

tdh_data_dir: '/data'
tdh_namenode_dir: '/data/hdfs/nn'
tdh_datanode_dir: '/data/hdfs/dn'
tdh_log_dir: '/var/log/hadoop'

mysql_tdh_roles:
  - db_name: 'metastore'
    db_user: '{{ mysql_hive_user }}'
    db_password: '{{ hive_password }}'
  - db_name: 'hue'
    db_user: '{{ mysql_hue_user }}'
    db_password: '{{ hue_password }}'

mysql_backup_dir: '/data/backup'
