---
tdh_tarball_file: 'TDH.tar.gz'
tdh_tarball_path: '/tmp/TDH/'
tdh_drop_file: '/tmp/{{ tdh_tarball_file }}'

remove_packages:
 - mariadb-libs

mysql_metastore_user: hive
mysql_repl_user: mysqlrepl

mysql_tdh_roles:
  - db_name: "metastore"
    db_user: "hive"
    db_password: '{{ hive_password }}'
  - db_name: "hue"
    db_user: "hue"
    db_password: '{{ hue_password }}'

mysql_backup_dir: "/data/backup"
