---
# TDH Ansible Common Role
#
- include_vars: ../vars/constants.yml

- name: Check for TDH tarball drop
  stat:
      path: '{{ tdh_drop_file }}'
  register: tdhdropstat

- name: Check for existing Install
  stat:
      path: '{{ tdh_install_path }}'
  register: tdhstat

- name: Distribute TDH
  block:
      - name: Create tmp directory
        file:
            path: '{{ tdh_tarball_path }}'
            state: directory
      - name: Copy TDH
        become: true
        copy:
            src: '{{ tdh_drop_file }}'
            dest: '{{ tdh_tarball_path }}' #  + '/{{tdh_tarball_file }}' ?
      - name: Stop and move aside tdh
        block:
            - name: Stop TDH
              shell: '/opt/TDH/bin/tdh-init.sh stop'
            - name: Move aside old tdh
              become: true
              shell: 'mv {{ tdh_install_path }} /opt/TDH.old'
        when: tdhstat.stat.exists
      - name: Extract tarball
        unarchive:
            src: '{{ tdh_tarball_path }}/{{ tdh_tarball_file }}'
            dest: '/opt'
            creates: '/opt/TDH'
  when: tdhdropstat.stat.exists
