---
# TDH Prerequisites
#
- name: Remove Packages
  become: true
  yum:
    name: '{{ yum_remove_packages }}'
    state: absent

- name: Add/Update OpenJDK
  become: true
  yum:
    name: "java-1.8.0-openjdk-devel"
    state: present

- name: Copy Java Bash Profile
  become: true
  template:
    src: '{{ jdk_sh_template }}'
    dest: '/etc/profile.d/jdk.sh'
    mode: 0644

- name: Copy Java Csh Profile
  become: true
  template:
    src: '{{ jdk_csh_template }}'
    dest: '/etc/profile.d/jdk.csh'
    mode: 0644

- name: Install Packages
  become: true
  yum:
    name: '{{ yum_install_packages }}'
    lock_timeout: 180
    state: present

- name: Copy sysctl config
  become: true
  template:
    src: '{{ sysctl_conf_template }}'
    dest: "/etc/sysctl.conf"
    mode: 0644
  notify: source sysctl.conf

- name: Copy rc local
  become: true
  template:
    src: '{{ rc_local_template }}'
    dest: "/etc/rc.d/rc.local"
    mode: 0755

- name: Copy security limits.conf
  become: true
  template:
    src: '{{ security_limits_conf }}'
    dest: "/etc/security/limits.conf"
    mode: 0644

- name: Copy security 20-nproc.conf
  become: true
  template:
    src: '{{ security_nproc_conf }}'
    dest: "/etc/security/limits.d/20-nproc.conf"
    mode: 0644

- name: Copy selinux.conf
  become: true
  template:
    src: '{{ se_linux_conf }}'
    dest: "/etc/selinux/config"
    mode: 0644
  notify: selinux_setenforce

- name: Create Log Directories
  become: true
  file:
    path: '{{ item }}'
    group: '{{ tdh_group }}'
    state: directory
    mode: 0775
  with_items: '{{ tdh_log_dirs }}'