---
# TDH Prerequisites
#
- name: Remove Packages
  become: true
  yum: name={{ remove_packages }} state=absent

- name: Add/Update OpenJDK
  become: true
  yum:
    name: "java-1.8.0-openjdk-devel"
    state: present

- name: Install Python-MySQL library
  become: true
  yum:
    name: "MySQL-python"
    state: present

- name: Copy sysctl config
  become: true
  template:
    src: '{{ sysctl_conf_template }}'
    dest: "/etc/sysctl.conf"
    mode: 0644
  notify: source sysctl.conf

- name: Copy rc local
  become: true
  template:
    src: '{{ rc_local_template }}'
    dest: "/etc/rc.d/rc.local"
    mode: 0755

- name: Copy security limits.conf
  become: true
  template:
    src: '{{ security_limits_conf }}'
    dest: "/etc/security/limits.conf"
    mode: 0644

- name: Copy selinux.conf
  become: true
  template:
    src: '{{ se_linux_conf }}'
    dest: "/etc/selinux/"
    mode: 0644
  notify: selinux_setenforce

- name: Create Log Directory
  become: true
  file:
    path: '{{ tdh_log_dir }}'
    group: '{{ tdh_group }}'
    state: directory
    mode: 0775
