---
- hosts: master01
  gather_facts: False
  tasks:
  - include_vars: 'roles/common/vars/main.yml'
  - name: mkdir /hive/warehouse
    shell: '{{ tdh_install_path }}/hadoop/bin/hdfs dfs -mkdir -p /hive/warehouse/default'
  - name: mkdir /user/hdfs
    shell: '{{ tdh_install_path }}/hadoop/bin/hdfs dfs -mkdir -p /user/hdfs'
  - name: mkdir /user/hive
    shell: '{{ tdh_install_path }}/hadoop/bin/hdfs dfs -mkdir -p /user/hive'
  - name: mkdir /hbase
    shell: '{{ tdh_install_path }}/hadoop/bin/hdfs dfs -mkdir -p /hbase'
  - name: mkdir /tmp/logs
    shell: '{{ tdh_install_path }}/hadoop/bin/hdfs dfs -mkdir -p /tmp/logs'
  - name: mkdir /user/spark
    shell: '{{ tdh_install_path }}/hadoop/bin/hdfs dfs -mkdir -p /user/spark/jars'
  - name: mkdir /tmp/spark
    shell: '{{ tdh_install_path }}/hadoop/bin/hdfs dfs -mkdir -p /tmp/spark/applicationHistory'
  - name: mkdir users home
    shell: '{{ tdh_install_path }}/hadoop/bin/hdfs dfs -mkdir /user/{{ lookup("env", "USER") }}'
