---
- hosts: all
  vars_files:
    - roles/common/vars/main.yml
  tasks:
  - name: Copy TDH dropzone
    copy:
      src: '{{ tdh_dist_path }}'
      dest: '{{ tdh_drop_path }}'
  - name: Show resulting drop
    shell: 'ls -l {{ tdh_drop_path }}'
