---
- hosts: master01
  gather_facts: False
  tasks:
  - name: mkdir /hive/warehouse
    shell: 'hdfs dfs -mkdir -p /hive/warehouse/default'
  - name: mkdir /user/hdfs
    shell: 'hdfs dfs -mkdir -p /user/hdfs'
  - name: mkdir /user/hive
    shell: 'hdfs dfs -mkdir -p /user/hive'
  - name: mkdir /hbase
    shell: 'hdfs dfs -mkdir -p /hbase'
  - name: mkdir /tmp/logs
    shell: 'hdfs dfs -mkdir -p /tmp/logs'
  - name: mkdir /tmp/spark
    shell: 'hdfs dfs -mkdir -p /tmp/spark'
  - name: mkdir /tmp/spark2
    shell: 'hdfs dfs -mkdir -p /tmp/spark2'
