---
# Install host prerequisites
- name: Install TDH
  hosts: all
  vars_files:
    - roles/common/vars/constants.yml

- name: Configure mysql
  hosts: master01
  tags: [ 'tdh_master' ]
  roles:
      - 'mysql'

- name: Deploy TDH Masters
  hosts: masters
  tags: [ 'tdh_master' ]
  roles:
    - 'tdh_master'

- name: Deploy TDH Workers
  hosts: workers
  tags: [ 'tdh_worker' ]
  roles:
    - 'tdh_worker'
