---
# Overlay tdh-hadoop mgr onto TDH
- hosts: all
  gather_facts: False
  vars_files:
    - roles/common/vars/main.yml
  tasks:
  - name:  Check for update package
    stat:
      path: '{{ tdh_mgr_dropfile }}'
    register: tdhmgrstat
  - name: Extract TDH Package
    unarchive:
      src: '{{ tdh_mgr_dropfile }}'
      dest: '{{ tdh_tmp_path }}'
      creates: '{{ tdh_mgr_path }}'
    when: tdhmgrstat.stat.exists
  - name: Run Install
    shell: 'cd {{ tdh_mgr_path }} && make install'
    when: tdhmgrstat.stat.exists
  - name: Cleanup install path
    file:
      path: '{{ tdh_mgr_path }}'
      state: absent
    when: tdhmgrstat.stat.exists
  - name: Cleanup tarball
    file:
      path: '{{ tdh_mgr_dropfile }}'
      state: absent
    when: tdhmgrstat.stat.exists
