---
- name: Namenode Directory exists?
  stat:
    path: '{{ tdh_namenode_dir }}'
  register: nndir

- name: Check for existing TDH
  stat:
    path: '{{ tdh_install_path }}'
  register: tdhstat

- name: Master specific packages
  become: true
  yum:
    name: '{{ yum_master_packages }}'
    lock_timeout: 180
    state: present

- name: TDH Provisioning ...
  block:
  - name: TDH Provisioning Step 1 - Mysql
    shell: '{{ tdh_install_path }}/sbin/01-tdh-mysql-provision.sh'
  - name: TDH Provisioning Step 2 - TDH
    shell: '{{ tdh_install_path }}/sbin/03-tdh-provision.sh'
  - name: TDH Provisioning Step 3 - Spark
    shell: '{{ tdh_install_path }}/sbin/05-spark-provision.sh'
  - name: Increase Host Entropy
    shell: 'rngd -r /dev/urandom'

  - name: Configure HDFS Namenode...
    block:
    - name: Create NameNode path
      file:
        path: '{{ tdh_namenode_dir }}'
        owner: '{{ tdh_user }}'
        group: '{{ tdh_group }}'
        mode: 0750
        state: directory

    - name: Format namenode
      shell: '{{ tdh_install_path }}/hadoop/bin/hadoop namenode -format'
      when: inventory_hostname in groups['master01']
      
    - name: Create ZooKeeper dataLogDir
      file:
        path: '{{ tdh_zk_datalog_dir }}'
        owner: '{{ tdh_user }}'
        group: '{{ tdh_group }}'
        mode: 0750
        state: directory
    - name: Create ZooKeeper dataDir
      file:
        path: '{{ tdh_zk_data_dir }}'
        owner: '{{ tdh_user }}'
        group: '{{ tdh_group }}'
        mode: 0750
        state: directory
    when: nndir.stat.exists == false

  - name: Provision ZooKeeper Id
    shell: '{{ tdh_install_path }}/sbin/06-zk-provision.sh'

  - name: Provision Kafka Broker Id
    shell: '{{ tdh_install_path }}/sbin/07-kafka-provision.sh'

  - name: Configure Metastore password
    replace:
      path: '{{ tdh_install_path }}/hive/conf/hive-site.xml'
      regexp: 'chhive'
      replace: '{{ mysql_hive_password }}'
  become: true
  tags: [ tdh-config ]
  when: tdhstat.stat.exists
