---
- name: Check for existing Namenode Directory
  stat:
    path: '{{ tdh_namenode_dir }}'
  tags: [ tdh-config ]
  register: nndir

- name: Check for existing TDH
  stat:
    path: '{{ tdh_install_path }}'
  tags: [ tdh-config ]
  register: tdhstat

- name: Check for TDH tarball drop
  stat:
    path: '{{ tdh_dropfile }}'
  register: tdhdropstat

- name: Fail if both TDH dropfile AND TDH Install are missing.
  fail:
    msg: "Both TDH Install and TDH dropfile not found"
  when: tdhdropstat.stat.exists == false and tdhstat.stat.exists == false

- name: Master specific packages
  become: true
  yum:
    name: '{{ yum_master_packages }}'
    lock_timeout: 180
    state: present

- name: TDH Provisioning ...
  block:
  - name: TDH Provisioning Step 1 - Mysql
    shell: '{{ tdh_install_path }}/sbin/01-tdh-mysql-provision.sh'
    when: inventory_hostname in groups['master01'] and nndir.stat.exists == false
  - name: TDH Provisioning Step 2 - TDH
    shell: '{{ tdh_install_path }}/sbin/03-tdh-provision.sh'
  - name: Increase Host Entropy
    become: true
    shell: 'rngd -r /dev/urandom'
  - name: Configure HDFS Namenode...
    block:
    - name: Create NameNode path(s)
      become: true
      file:
        path: '{{ tdh_datadir_prefix }}{{ item }}/{{ tdh_nn_dir }}'
        owner: '{{ tdh_user }}'
        group: '{{ tdh_group }}'
        mode: 0750
        state: directory
      with_items: '{{ tdh_master_volumes }}'
    - name: Create JournalNode path(s)
      become: true
      file:
        path: '{{ tdh_datadir_prefix }}{{ item }}/{{ tdh_jn_dir }}'
        owner: '{{ tdh_user }}'
        group: '{{ tdh_group }}'
        mode: 0750
        state: directory
      with_items: '{{ tdh_master_volumes }}'
    - name: Format namenode
      shell: '{{ tdh_install_path }}/hadoop/bin/hadoop namenode -format'
      when: inventory_hostname in groups['master01']
    - name: Create ZooKeeper 'dataLogDir'
      become: true
      file:
        path: '{{ tdh_zk_datalog_dir }}'
        owner: '{{ tdh_user }}'
        group: '{{ tdh_group }}'
        mode: 0750
        state: directory
    - name: Create ZooKeeper 'dataDir'
      become: true
      file:
        path: '{{ tdh_zk_data_dir }}'
        owner: '{{ tdh_user }}'
        group: '{{ tdh_group }}'
        mode: 0750
        state: directory
    when: nndir.stat.exists == false
  - name: TDH Provisioning Step 3 - Spark
    shell: '{{ tdh_install_path }}/sbin/05-spark-provision.sh'
  - name: Provision ZooKeeper Id
    shell: '{{ tdh_install_path }}/sbin/06-zk-provision.sh'
    tags: [ tdh-config ]
  - name: Provision Kafka Broker Id
    shell: '{{ tdh_install_path }}/sbin/07-kafka-provision.sh'
    tags: [ tdh-config ]
  - name: Configure Metastore password
    replace:
      path: '{{ tdh_install_path }}/hive/conf/hive-site.xml'
      regexp: 'chhive'
      replace: '{{ mysql_hive_password }}'
  tags: [ tdh-config ]
  when: tdhstat.stat.exists
