---
- name: Namenode Directory exists?
  hosts: 'mysql_master'
  stat: '{{ tdh_namenode_dir }}'
  register: nndir

- block:
  - name: Create Mysql Replication User
    hosts: 'mysql_master'
    mysql_user:
      login_user: 'root'
      login_password: '{{ mysql_root_password }}'
      name: '{{ mysql_repl_user }}'
      password: '{{ mysql_repl_password }}'
      priv: '*.*:ALL'
      state: present
      host: '%'

  - name: Create Hive User
    hosts: 'mysql_master'
    mysql_user:
        login_user: 'root'
        login_password: '{{ mysql_root_password }}'
        name: '{{ mysql_hive_user }}'
        password: '{{ mysql_hive_password }}'
        priv: 'metastore.*:ALL'
        state: present
        host: '%'

  - name: Get Master Info
    mysql_replication:
      login_user: 'root'
      login_password: '{{ mysql_root_password }}'
      mode: getmaster
    register: master_status

  - name: Get Slave Info
    mysql_replication:
      login_user: 'root'
      login_password: '{{ mysql_root_password }}'
      mode: getslave
    register: slave_status

  - name: Configure Slave Replication
    mysql_replication:
      login_user: 'root'
      login_password: '{{ mysql_root_password }}'
      mode: changemaster
      master_user: '{{ mysql_repl_user }}'
      master_password: '{{ mysql_repl_password }}'
      master_host: ' {{ master_hostname }}'
      master_log_file: '{{ master_status.File }}'
      master_log_pos: '{{ master_status.Position }}'
    when: not slave_status.Is_Slave

  - name: Start mysql_replication
    mysql_replication:
      login_user: 'root'
      login_password: '{{ mysql_root_password }}'
      mode: startslave
    when: not slave_status.Is_Slave

  - name:  Format namenode
    shell: 'hadoop namenode -format'
  - name: TDH Provisioning Step 1 (mysql)
    shell: '{{ tdh_install_path }}/bin/01-mysql-provision.sh'
  - name: TDH Provisioning Step 2
    shell: '{{ tdh_install_path }}/bin/03-tdh-provision.sh'
  - name: TDH Provisioning Step 3
    shell: '{{ tdh_install_path }}/bin/05-spark-provision.sh'

when: nndir.stat.exists == false
