---
- name: Namenode Directory exists?
  stat:
    path: '{{ tdh_namenode_dir }}'
  register: nndir

- block:
  - name: Create Mysql Replication User
    mysql_user:
      login_user: 'root'
      login_password: '{{ mysql_root_password }}'
      name: '{{ mysql_repl_user }}'
      password: '{{ mysql_repl_password }}'
      priv: '*.*:ALL'
      state: present
      host: '%'
  - name: Remove all anonymous user accounts
    mysql_user:
      name: ""
      host_all: yes
      state: absent
  - name: Add root mysql access from slave host
    mysql_user:
      login_user: 'root'
      login_password: '{{ mysql_root_password }}'
      name: 'root'
      password: '{{ mysql_root_password }}'
      host: '{{ mysql_slave_hostname }}'
      priv: '*.*:ALL,GRANT'
      state: present
  when: inventory_hostname in groups['master01']

- block:
  - name: Get Master Info
    mysql_replication:
      login_user: 'root'
      login_password: '{{ mysql_root_password }}'
      login_host: '{{ mysql_master_hostnmae }}'
      login_port: '{{ mysql_port }}'
      mode: getmaster
    register: master_status
  - name: Show Master Status
    debug: var='master_status'
  - name: Get Slave Info
    mysql_replication:
      login_user: 'root'
      login_password: '{{ mysql_root_password }}'
      mode: getslave
    register: slave_status
  - name: Configure slave
    mysql_replication:
      login_user: 'root'
      login_password: '{{ mysql_root_password }}'
      mode: changemaster
      master_user: '{{ mysql_repl_user }}'
      master_password: '{{ mysql_repl_password }}'
      master_host: '{{ mysql_master_hostname }}'
      master_log_file: '{{ master_status.File }}'
      master_log_pos: '{{ master_status.Position }}'
    when: not slave_status.Is_Slave
  - name: Start mysql_replication
    mysql_replication:
      login_user: 'root'
      login_password: '{{ mysql_root_password }}'
      mode: startslave
    when: not slave_status.Is_Slave
  when: inventory_hostname in groups['master02']

- block:
  - name: TDH Provisioning Step 1
    shell: '{{ tdh_install_path }}/bin/03-tdh-provision.sh'
  - name: TDH Provisioning Step 2
    shell: '{{ tdh_install_path }}/bin/05-spark-provision.sh'
  - name: Create HDFS Namenode path
    become: true
    file:
      path: '{{ tdh_namenode_dir }}'
      owner: '{{ tdh_user }}'
      group: '{{ tdh_group }}'
      mode: 0750
      state: directory
  - name:  Format namenode
    shell: 'hadoop namenode -format'
    when: inventory_hostname in groups['master01']
  when: nndir.stat.exists == false
