---
- name: Namenode Directory exists?
  stat:
    path: '{{ tdh_namenode_dir }}'
  register: nndir

- block:

  - name: Create Mysql Replication User
    mysql_user:
      login_user: 'root'
      login_password: '{{ mysql_root_password }}'
      name: '{{ mysql_repl_user }}'
      password: '{{ mysql_repl_password }}'
      priv: '*.*:ALL'
      state: present
      host: '%'

  - name: Get Master Info
    mysql_replication:
      login_user: 'root'
      login_password: '{{ mysql_root_password }}'
      mode: getmaster
    register: master_status

  when: inventory_hostname in groups['master01']

- block:

  - name: Get Slave Info
    mysql_replication:
      login_user: 'root'
      login_password: '{{ mysql_root_password }}'
      mode: getslave
    register: slave_status

  - name: Configure Slave Replication
    mysql_replication:
      login_user: 'root'
      login_password: '{{ mysql_root_password }}'
      mode: changemaster
      master_user: '{{ mysql_repl_user }}'
      master_password: '{{ mysql_repl_password }}'
      master_host: ' {{ master_hostname }}'
      master_log_file: '{{ master_status.File }}'
      master_log_pos: '{{ master_status.Position }}'
    when: not slave_status.Is_Slave

  - name: Start mysql_replication
    mysql_replication:
      login_user: 'root'
      login_password: '{{ mysql_root_password }}'
      mode: startslave
    when: not slave_status.Is_Slave

  when: inventory_hostname in groups['master02']

- block:

  - name: Create HDFS Namenode path
    file:
      path: '{{ tdh_namenode_dir }}'
      state: present

  - name:  Format namenode
    shell: 'hadoop namenode -format'

  - name: TDH Provisioning Step 1 (mysql)
    shell: '{{ tdh_install_path }}/bin/01-mysql-provision.sh'

  - name: TDH Provisioning Step 2
    shell: '{{ tdh_install_path }}/bin/03-tdh-provision.sh'

  - name: TDH Provisioning Step 3
    shell: '{{ tdh_install_path }}/bin/05-spark-provision.sh'
    when: nndir.stat.exists == false

  when: inventory_hostname in groups['master01']
