---
- name: Namenode Directory exists?
  stat:
    path: '{{ tdh_namenode_dir }}'
  register: nndir

- block:
  - name: TDH Provisioning Step 1
    shell: '{{ tdh_install_path }}/bin/01-tdh-mysql-provision.sh'
  - name: TDH Provisioning Step 2
    shell: '{{ tdh_install_path }}/bin/03-tdh-provision.sh'
  - name: TDH Provisioning Step 3
    shell: '{{ tdh_install_path }}/bin/05-spark-provision.sh'
  - name: Create HDFS Namenode path
    become: true
    file:
      path: '{{ tdh_namenode_dir }}'
      owner: '{{ tdh_user }}'
      group: '{{ tdh_group }}'
      mode: 0750
      state: directory
  - name:  Format namenode
    shell: 'hadoop namenode -format'
    when: inventory_hostname in groups['master01']
  when: nndir.stat.exists == false

- name: Configure Metastore password
  replace:
    path: '{{ tdh_install_path }}/hive/conf/hive-site.xml'
    regexp: 'chhive'
    replace: '{{ mysql_hive_password }}'
