---
- name: Namenode Directory exists?
  stat:
    path: '{{ tdh_namenode_dir }}'
  register: nndir

- name: Master specific packages
  become: true
  yum:
    name: '{{ yum_master_packages }}'
    lock_timeout: 180
    state: present
  

- name: TDH Master Provisioning 
  block:
  - name: TDH Provisioning Step 1
    shell: '{{ tdh_install_path }}/sbin/01-tdh-mysql-provision.sh'
  - name: TDH Provisioning Step 2
    shell: '{{ tdh_install_path }}/sbin/03-tdh-provision.sh'
  - name: TDH Provisioning Step 3
    shell: '{{ tdh_install_path }}/sbin/05-spark-provision.sh'

  - name: Increase Host Entropy
    become: true
    shell: 'rngd -r /dev/urandom'

  - name: Create HDFS Namenode path
    become: true
    file:
      path: '{{ tdh_namenode_dir }}'
      owner: '{{ tdh_user }}'
      group: '{{ tdh_group }}'
      mode: 0750
      state: directory

  - name:  Format namenode
    shell: 'hadoop namenode -format'
    when: inventory_hostname in groups['master01']
  when: nndir.stat.exists == false

- name: Configure Metastore password
  replace:
    path: '{{ tdh_install_path }}/hive/conf/hive-site.xml'
    regexp: 'chhive'
    replace: '{{ mysql_hive_password }}'
  tags: [ tdh-config ]
